- content_for :title, _("Inventory Pools")

.wrapper.wrapper.margin-top-m
  
  .col4of5.row.content-wrapper.padding-inset-l

    %h1.headline-xl= _("Inventory Pools")

  .col1of5= render :partial => "borrow/order"