.emboss.row.margin-bottom-m.min-height-s
  .emboss.min-height-s{:style => "width: 101%!important"}

.emboss.row.margin-bottom-m.min-height-s.overflow-hidden
  .emboss.min-height-s{:style => "width: 101%!important"} .overflow-hidden