// MAX WIDTH

.max-width
  max-width: $max-width

.max-width-xxs
  max-width: 16px

.max-width-s
  max-width: 100px

.max-width-m
  max-width: 200px

.max-width-l
  max-width: 300px

.max-width-full
  max-width: 100%