%h3.headline-m.light.margin-top-m.padding-vertical-m.margin-bottom-m.margin-top-m= ".input.has-add-on and .input-add-on"
.row.max-width-m.margin-bottom-m
  %input.min-width-full.has-add-on{:type => :text}
  .input-add-on
    %i.icon-plus
.row.max-width-m.margin-bottom-m
  %input.min-width-full.has-add-on{:type => :text}
  .input-add-on
    %i.icon-calendar