.margin-left-xxs
  .row.margin-top-m
    %nav
      %ul
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.active
            %i.icon-shopping-cart
            %span.margin-top-s
              = _("Order")

  #order.content-wrapper.straight-top-left