%label.padding-horizontal-s{:title => _("Search"), :for => "term"}
  %form{:action => "", :method => :get, :autocomplete => :off}
    %input.barcode_target{:type => "text", :name => "term", :placeholder => _("Search")}